<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    <div class="card bg-info">
        <div class="card-header">
            <h1 class="text-center">Sign Up</h1>
        </div>
        <div class="card-body">
            <form action="" [formGroup]="registerForm">
                <div class="form-group">
                    <label for="">Doctor Name:</label>
                    <input type="text" formControlName="name" [class.is-invalid]="name.invalid && name.touched" class="form-control"/>
                    
                    <div *ngIf="name.invalid && name.touched">
                        <small *ngIf="name.errors?.required"  class="text-danger">Name is required *</small>
                        <small *ngIf="name.errors?.minlength" class="text-danger">Username must be at leat 3 charracters *</small>
                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Specialization:</label>
                    <input type="text" formControlName="specialization" [class.is-invalid]="specialization.invalid && specialization.touched" class="form-control"/>
                    <div *ngIf="specialization.invalid && specialization.touched">
                        <small *ngIf="specialization.errors?.required"  class="text-danger">Details required *</small>
                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Biography:</label>
                    <textarea type="text" formControlName="bio" [class.is-invalid]="bio.invalid && bio.touched" class="form-control"></textarea>
                    <div *ngIf="bio.invalid && bio.touched">
                        <small *ngIf="bio.errors?.required"  class="text-danger">Details required *</small>
    
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Qualifications:</label>
                    <input type="text" formControlName="qualification" [class.is-invalid]="qualification.invalid && qualification.touched" class="form-control" />                
                   
                    <div *ngIf="qualification.invalid && qualification.touched">
                        <small *ngIf="qualification.errors?.required"  class="text-danger">Details required *</small>
                    
    
                    </div>
                
                </div>
                <div class="form-group">
                    <label for="">Experience:</label>
                    <input type="text" formControlName="experience" [class.is-invalid]="experience.invalid && experience.touched" class="form-control"/>
                    
                    <div *ngIf="experience.invalid && experience.touched">
                        <small *ngIf="experience.errors?.required"  class="text-danger">Details is required *</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Hospital:</label>
                    <input type="text" formControlName="hospital" [class.is-invalid]="hospital.invalid && hospital.touched" class="form-control"/>
                    <div *ngIf="hospital.invalid && hospital.touched">
                        <small *ngIf="hospital.errors?.required"  class="text-danger">Details required *</small>
                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Languages:</label>
                    <input type="text" formControlName="languages" [class.is-invalid]="languages.invalid && languages.touched" class="form-control"/>
                    <div *ngIf="languages.invalid && languages.touched">
                        <small *ngIf="languages.errors?.required"  class="text-danger">Details required *</small>
                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Job Type:</label>
                    <input type="text" formControlName="job_type" [class.is-invalid]="job_type.invalid && job_type.touched" class="form-control" />
                    <div *ngIf="job_type.invalid && job_type.touched">
                        <small *ngIf="job_type.errors?.required"  class="text-danger">Details required *</small>
                        
                    </div>
                </div>
                <div class="form-group"> 
                    <label for="">Contact One:</label>
                    <input type="number" formControlName="contact1" [class.is-invalid]="contact1.invalid && contact1.touched" class="form-control" />
                    
                    <div *ngIf="contact2.invalid && contact2.touched">
                        <small *ngIf="contact1.errors?.required"  class="text-danger">Contact required *</small>                
                        <small *ngIf="contact1.errors?.minlength" class="text-danger">Contact must be at least 10 charracters *</small>
                
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Contact Two:</label>
                    <input type="number" formControlName="contact2" [class.is-invalid]="contact2.invalid && contact2.touched" class="form-control"/>
                    
                    <div *ngIf="contact2.invalid && contact2.touched">
                        <small *ngIf="contact2.errors?.required"  class="text-danger">Contact is required *</small>
                        <small *ngIf="contact2.errors?.minlength" class="text-danger">Contact must be at least 10 charracters *</small>
                
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Email One:</label>
                    <input type="email" formControlName="email1" [class.is-invalid]="email1.invalid && email1.touched" class="form-control"/>
                    <div *ngIf="email1.invalid && email1.touched">
                        <small *ngIf="email1.errors?.required"  class="text-danger">Email is required *</small>
                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Email Two:</label>
                    <input type="email" formControlName="email2" [class.is-invalid]="email2.invalid && email2.touched" class="form-control"/>
                    <div *ngIf="email2.invalid && email2.touched">
                        <small *ngIf="email2.errors?.required"  class="text-danger">Email is required *</small>
                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Address:</label>
                    <input type="text" formControlName="address" [class.is-invalid]="address.invalid && address.touched" class="form-control" />
                    <div *ngIf="address.invalid && address.touched">
                        <small *ngIf="address.errors?.required"  class="text-danger">Address is required *</small>
                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Consultation Fee:</label>
                    <input type="text" formControlName="consultation_fee" [class.is-invalid]="consultation_fee.invalid && consultation_fee.touched" class="form-control" />                
                    
                    <div *ngIf="consultation_fee.invalid && consultation_fee.touched">
                        <small *ngIf="consultation_fee.errors?.required"  class="text-danger">Details required *</small>
                        
                    </div>
                </div>
                
                <div class="form-group">
                   <button class="btn btn-success" (click)="register(name.value, specialization.value, bio.value, qualification.value,
                   experience.value,  hospital.value, languages.value, job_type.value, contact1.value, contact2.value,
                   email1.value, email2.value, address.value, consultation_fee.value)">Register</button>
                
                </div>
                
            </form>
        </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>